@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<br>
<table>
    <tr><td><h3>El Lago Musical</h3></td></tr>
    <br>
    <tr>
        <td>Sonidos: </td>
        <td>
            <select id="sonidos">
                <option value="r1">brr - Rana</option>
                <option value="r2">birip - Rana</option>
                <option value="r3">brrah - Rana</option>
                <option value="r4">croac - Rana</option>
                <option value="l1">fiu - Libélula</option>
                <option value="l2">plop - Libélula</option>
                <option value="l3">pep - Libélula</option>
                <option value="g1">cric-cric - Grillo</option>
                <option value="g2">trri-trri - Grillo</option>
                <option value="g3">bri-bri - Grillo</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <td><input type="button" value="Procesar" onclick="proceso()"></td>
    </tr>
</table>

<script>    
    //$('#sonidos').change(function () {
      //  alert($('#sonidos').val());
    //});

    
        function proceso() {
            //alert('pilas');
            $.ajax({
                url: '@Url.Action("Proceso", "Home")',
                type: "POST",
                async: false,
                data: { sonidos: $("#sonidos").val()},
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    
                    alert(data);
                }


            });
        }
    
</script>

